@font-face {
    font-family: 'Myriad Condensed'; /* Name you choose to use in your CSS */
    src: url('/Myriad Pro Condensed.ttf') format('truetype'); /* Include necessary formats */
    font-weight: 400; /* Or specific weight if applicable, e.g., 'bold' for Myriad Pro Condensed Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Condensed'; /* Name you choose to use in your CSS */
    src: url('/Myriad Pro Light Condensed.otf') format('opentype'); /* Include necessary formats */
    font-weight: 300; /* Or specific weight if applicable, e.g., 'bold' for Myriad Pro Condensed Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Condensed'; /* Name you choose to use in your CSS */
    src: url('/Myriad Pro Bold Condensed.ttf') format('truetype'); /* Include necessary formats */
    font-weight: bold; /* Or specific weight if applicable, e.g., 'bold' for Myriad Pro Condensed Bold */
    font-style: normal;
}

#root {
  width: 100vw;
  height: 96vh;
  padding: 2vh;
  text-align: center;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.mdt-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-container {
  position: absolute; /* Or 'absolute' if inside a relative parent */
  top: 0;
  left: 0;
  width: 100%; /* Viewport width */
  height: 100%; /* Viewport height */
  z-index: 9999; /* Sits on top of everything else */
  display: flex;
  justify-content: center; /* Centers image horizontally */
  align-items: center; /* Centers image vertically */
  pointer-events: none; /* Allows clicks to pass through to content below */
  /* If you want the overlay to cover everything but be clickable: */
  /* pointer-events: auto; */
}

/* 3. Style the image itself */
.overlay-image {
  max-width: 100%;
  max-height: 100%; 
  width: 100%;
  height: 100%;
  pointer-events: none; 
  object-fit: contain;
}

.app-container {
  aspect-ratio: 1.59 / 1;
  object-fit: contain;
  height: 69.7247706%;
}





.afr-interior {
  background: rgba(18,31,40,1);
  height: 100%;
  width: 100%;
  position: relative;
}

.afr-bottom-navbar {
  z-index: 10;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 9vh;
  background: linear-gradient(
    180deg, 
    rgba(128,129,131,1) 0%, 
    rgba(200,201,202,1) 10%, 
    rgba(200,201,202,1) 25%, 
    rgb(187, 189, 192) 25%, 

    rgb(187, 189, 192) 34%, 
    rgb(167, 168, 171) 34%, 
    rgb(167, 168, 171) 35%, 
    rgb(187, 189, 192) 35%, 

    rgb(187, 189, 192) 44%, 
    rgb(167, 168, 171) 44%, 
    rgb(167, 168, 171) 45%, 
    rgb(187, 189, 192) 45%,

    rgb(187, 189, 192) 54%, 
    rgb(167, 168, 171) 54%, 
    rgb(167, 168, 171) 55%, 
    rgb(187, 189, 192) 55%,

    
    rgb(187, 189, 192) 64%, 
    rgb(167, 168, 171) 64%, 
    rgb(167, 168, 171) 65%, 
    rgb(187, 189, 192) 65%,

    rgb(187, 189, 192) 75%,
    rgba(200,201,202,1) 75%,
    rgba(200,201,202,1) 85%, 
    rgba(128,129,131,1) 100%
    );
}

.afr-bottom-navbar-button {
  z-index: 11;
  width: auto;
  height: 5.1vh;
  border: double 1vh transparent;
  border-radius: 2vh ;
  background-image: 
  linear-gradient(rgb(18,31,40), rgb(18,31,40)),
  linear-gradient(180deg, 
  rgba(95,96,98,1) 0%,
  rgba(62,62,64,1) 10%,
  rgba(120,121,124,1) 49%, 
  rgba(62,62,64,1) 50%,
  rgba(62,62,64,1) 100%
  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 1vh 0.5vh;
  display: inline-block;
  box-shadow: 0 1vh 0.9vh -0.2vh rgba(0, 0, 0, 0.5);
  cursor: pointer;
}






.afr-bottom-navbar-button-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 1.5vh;

  font-size: 3vh;
  color: #fff;
  font-weight: bold;
}

.afr-bottom-navbar-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 1.5vh;
}

.afr-bottom-navbar-buttons {
  display: flex;
  height: 100%;
  width: 85vh;
  flex-wrap: wrap;
  overflow: hidden;
}






.afr-emergency-button {
  width: 6.3vh;
  height: 6.3vh;
  position: absolute;
  right: 1.5vh;
  top: 1vh;
  border: double 0.4vh transparent;
  border-radius: 50%;
  background-image: 
  linear-gradient(rgb(139, 139, 139), rgb(110, 110, 110)),
  linear-gradient(rgba(184,187,190,1) 0%, rgba(184,187,190,1) 100%
  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  box-shadow: 0 0.8vh 0.9vh -0.2vh rgba(0, 0, 0, 0.5);
}

.afr-emergency-button-interior {
  width: 5.6vh;
  height: 5.6vh;
  border-radius: 50%;
  background-color: rgb(246,160,0);
  position: absolute;
  top: 0.325vh;
  left: 0.325vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
}

.afr-emergency-button-interior-active {
  width: 5.6vh;
  height: 5.6vh;
  border-radius: 50%;
  background-color: rgb(246,160,0);
  position: absolute;
  top: 0.325vh;
  left: 0.325vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgb(247, 168, 11);
  }
  25% {
    background-color: rgb(246, 150, 0);
  }
  50% {
    background-color: rgb(156, 134, 100);
  }
  75% {
    background-color: rgb(246,150,0);
  }
  100% {
    background-color: rgb(247, 168, 11);
  }
}

.afr-emergency-progress-svg {
  transform: translate(-29.5%, 112%);
  overflow: visible;
}

.emergency-progress {
  width: 5.6vh;
  height: 5.6vh;
  position: absolute;
  rotate: -90deg;
  stroke: rgba(255,110,1,0.7);
  stroke-width: 70;
  stroke-linecap: flat;

  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation: fill 1.5s linear forwards;
  pointer-events: none;
}

/* Keyframes for the drawing (filling) */
@keyframes fill {
  0% { stroke-dashoffset: 283; }
  100% { stroke-dashoffset: 0; } /* Empty again to loop */
}




.afr-navbar-arrow-container {
  position: absolute;
  right: 9.5vh;
  top: 1vh;
  width: 5.1vh;
}




.afr-navbar-arrow-up {
  height: 3.6vh;
}


.afr-navbar-arrow-down {
  height: 3.6vh;
}

.afr-navbar-arrow-up-svg {
  stroke-width: 7;
  fill: rgba(18,31,40,1);
  stroke: rgba(66,73,77,1);
  filter: drop-shadow(0 0.7vh 0.3vh rgba(0, 0, 0, 0.8));
}


.afr-navbar-arrow-down-svg {
  stroke-width: 7;
  fill: rgba(18,31,40,1);
  stroke: rgba(66,73,77,1);
  filter: drop-shadow(0 0.7vh 0.3vh rgba(0, 0, 0, 0.8));
}

.afr-navbar-arrow-up-svg-inactive {
  stroke-width: 9;
  fill: rgba(6, 22, 34,1);
  stroke: rgba(66,73,77,1);
  fill-opacity: 0.2;
  stroke-opacity: 0.1;
}


.afr-navbar-arrow-down-svg-inactive {
  stroke-width: 9;
  fill: rgba(6, 22, 34,1);
  stroke: rgba(66,73,77,1);
  fill-opacity: 0.2;
  stroke-opacity: 0.1;
}






.afr-breakthrough-message-container {
  background: repeating-linear-gradient(-70deg, 
    rgb(255, 230, 10) 0%,
    rgba(255,230,10,1) 3%, 
    rgba(206, 52, 49,1) 3%,
    rgb(206, 52, 49) 6%
  );
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
  align-content: center;
}

.afr-breakthrough-message-interior {
  background-image: linear-gradient(180deg, 
    rgb(206, 52, 49) 0%,
    rgb(206, 52, 49) 65%,
    rgb(255, 230, 10) 65%,
    rgba(255,230,10,1) 100% 
  );
  height: 77.5%;
  width: 100%;
  
  position: relative;
  justify-content: center;
  align-content: center;
}

.afr-breakthrough-message-contentbox {
  width: 80%;
  height: 61%;
  position: absolute;
  top: 2%;
  left: 10%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1vh;
  justify-content: center;
  align-items: center;

  line-height: 1;
  font-size: 5vh;
  font-weight: normal;
  color: #fff;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;

  overflow-y: auto;
}

.afr-breakthrough-message-contentbox::-webkit-scrollbar {
  width: 4vh;
  background-color: rgb(18,31,40);
}

.afr-breakthrough-message-contentbox::-webkit-scrollbar-thumb {
  background-color: #565f65;
  border-radius: 0.5vh;
  border: rgb(18,31,40) 0.2vh solid;
}

.afr-breakthrough-message-contentbox::-webkit-scrollbar-button:start:increment {
  width: 4vh;
  height: 2vh;
  background-image: 
    
    linear-gradient(125deg, rgb(18,31,40) 0% 85%, #565f65 85% 100%),

    linear-gradient(-125deg, rgb(18,31,40) 0% 85%, #565f65 85% 100%);
  background-size: 51% 70%, 51% 70%; /* Each gradient covers half the width */
  background-position: top left, top right; /* Position each gradient */
  background-repeat: no-repeat;
}

.afr-breakthrough-message-contentbox::-webkit-scrollbar-button:end:decrement {
    width: 4vh;
  height: 2vh;
  background-image: 
    
    linear-gradient(45deg, rgb(18,31,40) 0% 85%, #565f65 85% 100%),

    linear-gradient(-45deg, rgb(18,31,40) 0% 85%, #565f65 85% 100%);
  background-size: 51% 70%, 51% 70%; /* Each gradient covers half the width */
  background-position: bottom left, bottom right; /* Position each gradient */
  background-repeat: no-repeat;
}


.afr-breakthrough-message-acknowledge {
  position: absolute;
  top: 30%;
  z-index: 11;
  width: 40vh;
  height: 8vh;
  border: double 1vh transparent;
  border-radius: 2vh;
  background-image: 
  linear-gradient(rgb(18,31,40), rgb(18,31,40)),
  linear-gradient(180deg, 
  rgba(95,96,98,1) 0%,
  rgba(62,62,64,1) 10%,
  rgba(120,121,124,1) 49%, 
  rgba(62,62,64,1) 50%,
  rgba(62,62,64,1) 100%
  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 1vh 0.5vh;
  display: inline-block;
  box-shadow: 0 0.5vh 0.4vh -0.2vh rgba(0, 0, 0, 0.8);
  cursor: pointer;
  justify-content: center;
}

.afr-breakthrough-message-acknowledge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 1.5vh;

  font-size: 3vh;
  color: #fff;
  font-weight: bold;
}

.afr-breakthrough-message-options {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.afr-breakthrough-message-mute {
  position: absolute;
  right: 3.5%;
  top: 45%;
  z-index: 11;
  width: 5.5vh;
  height: 3.5vh;
  border: double 0.4vh transparent;
  border-radius: 1.25vh;
  background-image: 
  linear-gradient(rgb(13, 22, 29), rgb(13,22,29)),
  linear-gradient(
  0deg, 
  rgb(62,69,72) 0%,
  rgb(56,62,67) 100%
  );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 1vh 0.2vh;
  display: inline-block;
  box-shadow: 0 0.5vh 0.4vh -0.2vh rgba(0, 0, 0, 0.8);
  cursor: pointer;
  justify-content: center;
}

.afr-breakthrough-message-mute-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 0.2vh;

  font-size: 2vh;
  color: #acacac;
  font-weight: 300;
  font-weight: normal;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
}




.afr-perimeter-info-bar {
  z-index: 12;
  position: absolute;
  top: 0;
  width: 97.2%;
  height: 96%;
  border: 1.5vh solid;
  border-bottom: 3vh solid;
  pointer-events: none;
}

.afr-perimeter-info-bar-identifier {
  position: absolute;
  top: 0vh;
  left: 0vh;
  height: auto;
  width: auto;
  border-radius: 0 0 0.5vh 0;

  font-size: 1.5vh;
  font-weight: bold;
  pointer-events: none;
}

.afr-perimeter-info-bar-text {
  margin: 0vh 0.7vh 0vh 0vh;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
  font-weight: normal;
  pointer-events: none;
}


.afr-app-outlet-container {
  height: calc(100% - 9vh);
  width: 100%;
  position: relative;
  justify-content: center;
  object-fit: contain;
}











.afr-home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  color: #fff;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
}

.afr-home-status-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: rgb(109,110,114);
  justify-items: center;
  align-items: center;
}

.afr-home-status-panel-callsign {
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 1%;
  width: auto;
  height: 3vh;
  background-color: rgb(190,191,193);
  padding: 0 2vh;

  border: rgb(225,225,225) 0.3vh solid;
  border-radius: 1vh;

  box-shadow: 0 1vh 0.9vh -0.2vh rgba(0, 0, 0, 0.7);

  font-size: 2vh;
  color: #000000;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
}

.afr-home-status-panel-callsign-text {
  position: relative;
  line-height: -0.1vh;
  margin: 0;
}

.afr-home-status-panel-header {
  position: absolute;
  top: 0;
  font-weight: lighter;
  font-size: 2.5vh;
  color: rgb(251,255,255);
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
  
  margin: 0.5vh;
}

.afr-home-status-panel-container {
  margin-top: 2.5vh;
  top: 3.5vh;
  width: 80%;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
}

.afr-home-status-panel-item {
  position: relative;
  justify-items: center;
  align-content: center;
  height: 7vh;
  width: 8.5vh;

  border: double 1vh transparent;
  border-radius: 2.25vh;
  
  background-origin: border-box;
  background-clip: content-box, border-box;
  
  display: inline-block;
  box-shadow: 0 1vh 0.9vh -0.2vh rgba(0, 0, 0, 0.5);
  cursor: pointer;

  margin: 1vh 0;

  user-select: none;
}

.afr-home-status-panel-item-label {
  font-weight: bold;

  margin: 0;

  line-height: 5vh;
  font-size: 5vh;
  color: rgb(33,33,35);
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
}

.afr-home-status-panel-item-value {
  position: absolute;
  bottom: -0.25vh;

  font-weight: normal;

  margin: 0;
  line-height: 2vh;
  font-size: 1.25vh;
  color: rgb(117, 118, 119);
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
}

.afr-home-status-panel-item-selected-anim {
  animation: pulse-select 1.5s ease-in-out infinite;
}

@keyframes pulse-select {
  0% {
    border: 1vh solid transparent;
  }
  50% {
    border: 1vh solid rgba(236, 207, 42, 0.8);

  }
  100% {
    border: 1vh solid transparent;
  }
}

.afr-home-crew-display {
  position: absolute;
  top: 3vh;
  left: calc(25% + 3vh);
  width: 30%;
  height: auto;
  background-color: rgb(25,38,47);
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.25vh;
  align-items: flex-start;
  cursor: pointer;
}

.afr-home-crew-display-header {
  position: relative;
  font-weight: lighter;
  font-size: 2vh;
  color: rgb(103,110,113);
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
  
  margin: 1vh 1vh 0.5vh 1vh;
  user-select: none;
}

.afr-home-crew-display-item {
  position: relative;
  font-weight: lighter;
  font-size: 1.75vh;
  color: rgb(203, 204, 204);
  font-family: 'Arial', Helvetica, sans-serif;
  
  margin: 0.2vh 1vh 0.5vh 1vh;
  user-select: none;
}



.afr-home-crew-display-arrow {
  fill: rgb(84,91,100);
  stroke: rgb(84,91,100);
}

.afr-home-crew-display-arrow-svg {
  position: absolute;
  top: 1.75vh;
  right: 0vh;
  height: 1vh;
  width: 1vh;
  margin: 0 0.5vh;
}

.afr-home-CnC-logo {
  position: absolute;
  top: 0;
  right: 0.6vh;
  height: 5vh;
  width: auto;
  cursor: pointer;
}

.afr-home-CnC-logo-image {
  height: 100%;
  width: auto;
  user-select: none;
  object-fit: contain;
}









.afr-incident-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  color: #fff;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
}


.afr-incident-status-panel {
  z-index: 15;
  position: absolute;
  top: 0;
  left: -27.5%;
  width: 27.5%;
  height: 100%;
  background-color: rgb(109,110,114);
  justify-items: center;
  align-items: center;
  transition: transform 0.25s ease-in-out;
}

.afr-incident-status-selector {
  z-index: 10;
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: 20vh;
  height: 9vh;
  
  border: double 1vh transparent;
  border-radius: 2vh;
  background-image: 
  linear-gradient(rgb(229, 236, 242) 0%, rgb(229, 236, 242) 100%),
  linear-gradient(180deg, 
  rgba(91,103,107,1) 0%,
  rgba(61,71,74,1) 10%,
  rgba(134,145,149,1) 49%, 
  rgba(32,42,46,1) 50%,
  rgba(32,41,46,1) 100%
  );
  background-origin: border-box;
  background-clip: content-box, border-box;

  box-shadow: inset 4.5vh 0 4vh -4vh rgba(0, 0, 0, 1), inset -4.5vh 0 4vh -4vh rgba(0, 0, 0, 1), inset 0 0 1vh 0.2vh rgba(0, 0, 0, 0.8), 0 1vh 0.9vh -0.2vh rgba(0, 0, 0, 0.5);
  justify-items: center;
  align-content: center;
}

.afr-incident-status-selector-open {
  position: absolute;
  top: 3.5vh;
  left: 22vh;
  width: 10vh;
  height: 8vh;

  background-image: linear-gradient(rgb(62,72,75) 0%, rgb(20,32,41) 75%, rgb(62,72,75) 100%);
  border-radius: 2vh;
  border: 0.1vh solid rgb(62, 72, 75);

  align-content: center;
  justify-items: center;
}

.afr-incident-status-selector-chevrons {
  font-size: 1.25vh;
  color: rgb(255, 255, 255);
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
  user-select: none;
  pointer-events: none;
}

.afr-incident-status-panel-fog {
  z-index: 14;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color 0.25s ease-in-out;
  pointer-events: none;
}

.afr-incident-status-panel-close {
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);

  width: 8vh;
  height: 4.5vh;
  border: solid 0.5vh rgb(68,75,78);
  background-color: rgb(25,33,39);
  border-radius: 1.5vh;
  
  box-shadow: 0 1vh 0.9vh -0.2vh rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.afr-incident-status-panel-close-text {
  font-size: 1.25vh;
  color: rgb(255, 255, 255);
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
  user-select: none;
  pointer-events: none;

  user-select: none;
  pointer-events: none;
}

.afr-incident-status-panel-close-container {
  width: 100%;
  height: 7vh;
  position: absolute;
  bottom: 0;

  background-color: rgb(80,81,83);

  align-items: center;
  justify-content: center;
}



.afr-incident-status-selector-active {
  position: absolute;
  top: 2vh;
  left: 4vh;
  width: auto;
  height: 5vh;
  color: rgb(0,0,0);
  font-weight: bold;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
  font-size: 5vh;
  line-height: 5vh;
  margin: 0 1vh;
}

.afr-incident-status-selector-pipe {
  position: absolute;
  top: 1vh;
  left: 45%;
  height:7vh;
  pointer-events: none;
}

.afr-incident-status-selector-pipe-svg {
  stroke: rgb(201,207,213);
}

.afr-incident-status-selector-next {
  position: absolute;
  top: 2.5vh;
  right: 2.5vh;
  font-size: 3vh;
  color: rgb(0,0,0);
  margin: 0;
  font-weight: bold;
  font-family: 'Myriad Condensed', Helvetica, sans-serif;
}